<br>

<br>

# ðŸŒŠ **ACEA SMART WATER ANALYTICS** ðŸŒŠ

**ANALYZING THE RELATIONSHIP OF PRECIPITATION TO BILANCINO LAKE'S WATER LEVEL**

**TIMES SERIES**

<br>

# **INDEX**

- **STEP 1: PROBLEM DEFINITION**
- **STEP 2: DATA COLLECTION**
- **STEP 3: DATA EXPLORATION & CLEANING**
- **STEP 4: FEATURE ENGINEERING & SELECTION**
- **STEP 5: MODEL SELECTION & IMPLEMENTATION**
- **STEP 6: MODEL EVALUATION & INTERPRETATION**
- **STEP 7: VISUALIZATION & INSIGHTS**
- **STEP 8: CONCLUSION & RECOMMENDATIONS**

<br>

<br>

---

<br>

# **STEP 1: PROBLEM DEFINITION**

<br>

In [1]:
import os
import pandas as pd

In [ ]:
# Ruta del archivo ZIP en la carpeta 'data'
zip_path = "data/acea-water-prediction.zip"

# Directorio principal (donde estÃ¡ tu script)
extract_to = os.getcwd()

# Extraer solo "Lake_Bilancino.csv" en el directorio principal
with zipfile.ZipFile(zip_path, "r") as zip_ref:
    if "Lake_Bilancino.csv" in zip_ref.namelist():
        zip_ref.extract("Lake_Bilancino.csv", extract_to)
        print(f"'Lake_Bilancino.csv' extraÃ­do ")
    else:
        print("El archivo 'Lake_Bilancino.csv' no se encontrÃ³ en el ZIP.")

In [18]:
pd.options.display.max_columns=None
df = pd.read_csv("Lake_Bilancino.csv")
df.head()

,Date,Rainfall_S_Piero,Rainfall_Mangona,Rainfall_S_Agata,Rainfall_Cavallina,Rainfall_Le_Croci,Temperature_Le_Croci,Lake_Level,Flow_Rate
0,03/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
1,04/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
2,05/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
3,06/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
4,07/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.44,0.31

<div style="text-align: justify;">
    Quisque eleifend, purus quis lobortis imperdiet, est nisl dictum nisl, non molestie orci magna vitae nulla. Mauris tincidunt tristique sem, vitae suscipit augue semper ac. Vestibulum a risus in sapien pretium egestas. Morbi eu sagittis nunc. Nulla ut quam pellentesque, consequat urna nec, rutrum turpis. Cras accumsan nulla quis odio cursus, sit amet sagittis augue mattis. Maecenas pulvinar vel justo sit amet aliquam. Maecenas nec imperdiet lacus.
</div>

<p style="text-align: justify;">
    Proin porttitor ornare auctor. Ut non porta neque. Duis at ipsum purus. Integer suscipit gravida sem at elementum. Morbi rhoncus, lorem eu interdum tincidunt, leo libero pulvinar dolor, vitae scelerisque ex lorem vitae turpis. Nullam nec faucibus mi, at efficitur neque. Vivamus quis magna sem. Duis tincidunt sapien ac imperdiet molestie. Morbi risus ex, dapibus ut gravida et, elementum vel augue. Aliquam erat volutpat. Suspendisse nec tristique eros.
</p>

Quisque eleifend, purus quis lobortis imperdiet, est nisl dictum nisl, non molestie orci magna vitae nulla. Mauris tincidunt tristique sem, vitae suscipit augue semper ac. Vestibulum a risus in sapien pretium egestas. Morbi eu sagittis nunc. Nulla ut quam pellentesque, consequat urna nec, rutrum turpis. Cras accumsan nulla quis odio cursus, sit amet sagittis augue mattis. Maecenas pulvinar vel justo sit amet aliquam. Maecenas nec imperdiet lacus.